BasedOnStyle: WebKit

UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4

ConstructorInitializerAllOnOneLineOrOnePerLine: true

BreakBeforeBraces: Linux
IndentCaseLabels: false
ColumnLimit: 0

AlignAfterOpenBracket: Align
AlignConsecutiveBitFields: true
AlignEscapedNewlines: Left
AlignOperands: Align
BreakBeforeBinaryOperators: NonAssignment
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline

PointerAlignment: Right
ReflowComments: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false

